@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Raleway, sans-serif;
  list-style-type: none;
  transition: 0.2s ease-in-out;
  letter-spacing: 1px;
}

:root {
  --color-1: #FF589E;
  --color-2: #7D5DE5;
  --color-tx-1: #1E1E1E;
  --color-tx-2: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em {
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

*::selection {
  background-color: var(--color-1);
  color: white;
}

p,
a {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color: var(--color-tx-2);
  line-height: 1.5;
}

ul,
.btn {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-28 {
  font-size: 28px;
}

.font-32 {
  font-size: 32px;
}

.font-36 {
  font-size: 36px;
}